h1 {
  font-size: 15px;
  color: #e97171;
  margin-top: 10px;
}
form {
  text-align: center;
  padding: 15px;
}

p {
  font-size: 15px;
  color: #8675a9;
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 30px;
  color: #e97171;
  padding: 5px 0;
  text-align: center;
}
h2 i {
  font-size: 50px;
}
h3 {
  font-size: 20px;
  color: #e97171;
  margin-bottom: 35px;
}
li i {
  font-size: 40px;
  color: #ffffff;
}
.weather-app {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  max-width: 600px;
  background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
  padding: 15px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-form {
  border-radius: 5px;
  background-color: #ffffff;
  color: #8675a9;
  border-color: #8675a9;
  border-style: solid;
}

.search-button {
  border-radius: 5px;
  background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
  color: #e97171;
  border-color: #8675a9;
  border-style: solid;
}

.current-temperature {
  font-size: 30px;
  color: #8675a9;
  text-align: center;
  margin-right: 85px;
}

.units {
  font-size: 20px;
  color: #8675a9;
}

.current-date {
  font-size: 15px;
  color: #8675a9;
  margin-bottom: 40px;
  margin-top: 50px;
  text-align: center;
}
.stats {
  color: #8675a9;
  font-size: 15px;
  font-weight: 400px;
  margin-top: 20px;
  text-align: center;
  padding: 20px 12px;
  list-style-type: none;
}
.forecast {
  color: #8675a9;
  font-size: 15px;
  font-weight: 400px;
  list-style-type: none;
  margin: 0 auto;
}

.current-temperature .active {
  color: #8675a9;
  cursor: default;
}

.current-temperature .active:hover {
  text-decoration: none;
}
